{% extends "base.html" %}
{% load static from staticfiles %}
        {% block toptest %}
        <h1>欢迎来到员工控制台，<span>请慎重下手！</span></h1>
        {% endblock %}
{% block Menu%}
        <form id="form1">
        <div class="Menus">
            <div class="MenuPanel">
                <div class="MenuTitle">楼盘管理</div>
                <div class="MenuContent">
                    <a href="" target="_blank">楼盘删除</a><br />
                    <a href="" target="_blank">新增大楼</a><br />
                    <a href="" target="_blank">修改大楼信息</a><br />
                    <a href="" target="_blank">查询大楼信息</a><br />
                </div>
            </div>
        </div>
        <div class="Menus">
            <div class="MenuPanel">
                <div class="MenuTitle">房间管理</div>
                <div class="MenuContent">
                    <a href="" target="_blank">房间信息删除</a><br />
                    <a href="" target="_blank">修改房间信息</a><br />
                    <a href="" target="_blank">新增房间信息</a><br />
                    <a href="" target="_blank">查询房间信息</a><br />
                </div>
            </div>
        </div>
        <div class="Menus">
            <div class="MenuPanel">
                <div class="MenuTitle">业主管理</div>
                <div class="MenuContent">
                    <a href="" target="_blank">业主信息删除</a><br />
                    <a href="" target="_blank">修改业主信息</a><br />
                    <a href="" target="_blank">新增业主信息</a><br />
                    <a href="" target="_blank">查询业主信息</a><br />
                </div>
            </div>
        </div>
        <div class="Menus">
            <div class="MenuPanel">
                <div class="MenuTitle">物资管理</div>
                <div class="MenuContent">
                    <a href="" target="_blank">物资信息删除</a><br />
                    <a href="" target="_blank">修改物资信息</a><br />
                    <a href="" target="_blank">新增物资信息</a><br />
                    <a href="" target="_blank">查询物资信息</a><br />
                </div>
            </div>
        </div>
        <div class="Menus">
            <div class="MenuPanel">
                <div class="MenuTitle">缴费管理</div>
                <div class="MenuContent">
                    <a href="" target="_blank">缴费项目删除</a><br />
                    <a href="" target="_blank">修改缴费信息</a><br />
                    <a href="" target="_blank">新增缴费项目</a><br />
                    <a href="" target="_blank">查询项目信息</a><br />
                </div>
            </div>
        </div>
{#        <div class="Menus">#}
{#            <div class="MenuPanel">#}
{#                <div class="MenuTitle">人员管理</div>#}
{#                <div class="MenuContent">#}
{#                    <a href="" target="_blank">人员信息删除</a><br />#}
{#                    <a href="" target="_blank">修改人员信息</a><br />#}
{#                    <a href="" target="_blank">新增部门人员</a><br />#}
{#                    <a href="" target="_blank">查询人员信息</a><br />#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        </form>
{% endblock %}