<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .p1{
            width: 800px;
            height: 700px;
            background-color: gold;
        }
    </style>
</head>
<body>
    <div class="p1">
        <ul>
            <li><img src="{% static 'gradeapp/image/1.png'%}" alt=""></li>
            <li><img src="{% static 'gradeapp/image/2.jpg'%}" alt=""></li>
            <li><img src="{% static 'gradeapp/image/3.jpg'%}" alt=""></li>
            <li><img src="{% static 'gradeapp/image/4.jpg'%}" alt=""></li>
        </ul>
    </div>

</body>
</html>